<nav class="navbar  navbar-expand-lg bg-body-tertiary" data-bs-theme="white">
  <div class="container-fluid row">
    <div class="col-lg-4"><a class="navbar-brand" routerLink="/home">ALKhabar News</a></div>

    <div class="collapse navbar-collapse text-center col-lg-8" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/exclusiv">Exclusive News</a>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/sportsnews">Sports News</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/politcs">Political News</a></li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About US</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/login/user/admin">login</a></li>
            <li><a class="dropdown-item" routerLink="/creat/user/admin">create new user</a></li>

          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
