<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-5"><a routerLink="/home">ALKhabar News</a></h1>

    <nav id="navbar" class="navbar me-auto order-mid order-lg-0">
      <ul>
        <li><a class="nav-link scrollto " routerLink="/exclusiv">Exclusive News</a></li>
        <li><a class="nav-link scrollto" routerLink="/sportsnews">Sports News</a></li>
        <li><a class="nav-link scrollto" routerLink="/politcs">Political News</a></li>
        <li class="dropdown"><a  href="#"><span>Admin</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/login/user/admin">login</a></li>
            <li><a routerLink="/creat/user/admin">create new user</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="/about">About US</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
