<nav class="navbar  navbar-expand-lg bg-body-tertiary" data-bs-theme="white">
  <div class="container-fluid">
    <a class="navbar-brand" >ALKhabar News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Exclusiv
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item " routerLink="/listexclusivadmin">List Exclusiv News</a>
            </li>
            <li><a class="dropdown-item" routerLink="/exclusiv/admin/creat">Creat Exclusiv News</a></li>
            <li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            sports
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item " routerLink="/listsportadmin">List sport News</a>
            </li>
            <li><a class="dropdown-item" routerLink="/sports/admin/creat">Creat Sport News</a></li>
            <li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            politics
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item " routerLink="/listpoliticadmin">List politic News</a>
            </li>
            <li><a class="dropdown-item" routerLink="/politic/admin/creat">Creat politic News</a></li>
            <li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/creat/user/admin">create new user</a></li>

          </ul>
        </li>


      </ul>
      <div class="col-lg-4"><a class="navbar-brand text-warning" routerLink="/home">User view</a></div>
    </div>
  </div>
</nav>
